header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 8em;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.973), rgba(255, 153, 0, 0));

}

.header-conteudo {
    display: flex;
    gap: 30px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}

nav a {
    font-weight: 300;
    font-size: .9em;
    letter-spacing: 3px;
    transition: .5s;
}

nav a:hover {
    letter-spacing: 4px;
    color: #d88b58;
}


.logo {
    width: 30px;
}

.redes-sociais {
    display: flex;
    gap: 30px;
}

.redes-sociais a img {
    width: 25px;
    height: 25px;
    opacity: 0.8;
    transition: .5s;
}

.redes-sociais a img:hover {
    opacity: 1;
    color: #d88b58;
    transform: translateY(-5px);
    filter: drop-shadow(10px 10px 20px rgba(32, 10, 10, 0.801));
}


@media (max-width: 900px) {
    header {
        padding: 1em 3em;
    }

    nav {
        gap: 30px;
    }

    nav a {
        letter-spacing: 1px;
    }

    

}


@media (max-width: 500px) {

    header {
        flex-direction: column;
        padding: 1em;

    }

    .header-conteudo {
        display: flex;
        gap: 25px;
        margin-bottom: 5px;
    }

    nav {
        gap: 20px;
    }

    #inicio {
        display: none;
    }

    #sobre-mim {
        display: none;
    }

    .logo {
        width: 2em;
        
    }

    nav a:hover {
        letter-spacing: 2px;
    }

}



@media (max-width: 350px) {

    .header-conteudo {
        gap: 10px;
    }

   nav {
    gap: 10px;
   }

   .descricao p {
    font-size: .8em;
   }

}